body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*----------------------------------------------------------------------------------------------------------------*/

/*loader*/
.spinner {
  margin: 22vh auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: none;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*loader ends*/

/*----------------------------------------------------------------------------------------------------------------*/

/*main container*/
.container{
	overflow: hidden;
	width: 70%;
	margin: 5% auto;
	padding: 0;
	border: 1px solid rgba(133, 138, 147, 0.5);
	box-sizing: border-box;
}
/*container ends*/

/*----------------------------------------------------------------------------------------------------------------*/

/*header*/
#header{
	border-bottom: 1px solid rgba(133, 138, 147, 0.5);
	background-color: #eee;
}

#header p{
	font-size: 25px;
	font-weight: bold;
	margin: 0;
	padding: 3.5vh 0;
	color: #3B5998;
}


#header i{
	transform: scale(1.5, 1.5);
	padding: 0 1vw 0 2vw;
}
/*header ends*/

/*----------------------------------------------------------------------------------------------------------------*/

/*menu*/
#menu{
	border-right: .1vw solid rgba(133, 138, 147, 0.5);
	background: #fff;
	min-height: 65vh;	
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li{
	display: block;
	padding: 10%; 
}

#menu div, span{
	display: none; 
}

#menu a{
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: rgb(133, 138, 147);
}

/*menu ends*/

/*----------------------------------------------------------------------------------------------------------------*/

/*content*/
#content{
	min-height: 65vh;
	background: #3B5998;

}

#welcome h2{
	text-align: center;
	color: #fff;
}

#welcome h2:first-child{
	margin-top: 22vh;
}

#info{
	padding-right: 1vw;
}

#info h5{
	padding: 1vw;
	margin-top: 3vh;
	border-bottom: .1vw solid rgba(133, 138, 147, 0.5);
	text-transform: uppercase;
	color: rgb(133, 138, 147);
	font-weight: bold;
}

#info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#info li, p{
	display: block;
	padding: 1vw;
	color: rgb(133, 138, 147);
}

#info span{
	display: inline;
	float: right;
}
/*content ends*/


/*----------------------------------------------------------------------------------------------------------------*/

/*style for mobile and small devices*/
.wel-come{
	text-align: center;
	background: #3B5998;
	color: #fff;
	padding: 2vh;
}

@media only screen and (max-width: 768px){
	body{
		background: #3B5998;
	}

	.container{
		width: 100% !important;
		margin: 0;
	}

	#content{
		display: none;
	}
	
	#header p {
		padding-left: 2vh !important;
	}

	#menu{
		width: 100% !important;
		border: none;
		min-height: auto !important;
	}

	#menu li{
		border-bottom: 1px solid rgba(133, 138, 147, 0.3);
		padding: 5% 3vh !important;
	}

	#menu div p{
		padding: 4vw 4vw 0 4vw;
	}

	#menu span{
		display: inline-block;
		float: right;
	}	

	#get-education{
		height: 200px;
	}
} 
/*style ends*/

